<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEPR: Fractal</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta content="IE=edge" http-equiv=X-UA-Compatible>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/style.css">
</head>
<body class="ns">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SEPR: Fractal</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="nav-collapse">
      <ul class="nav navbar-nav" id="nav">
        <li><a href="#game">Game</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#download">Download</a></li>
        <li><a href="#assessment">Assessment</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#repos">Repo Status</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

    <main class="container">
        <div class="jumbotron" id="game">
            <h1>RoboticonQuest</h1>
            <p>RoboticonQuest is a multiplayer strategy game, where the aim is to take over the University of York using your army of roboticons! Players take turns to take over land and acquire resources, battling it out to become the Vice-Chancellor of the colony. View the progress of the development of the game below.</p>
        </div>

        <div class="page-header" id="gallery">
            <h1><i class="glyphicon glyphicon-picture"></i> Game Gallery</h1>
        </div>

        <section class="gallery">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="./assets/robot.png" alt="...">
                    </a>
                </div>

                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="https://placehold.it/220x180" alt="...">
                    </a>
                </div>

            </div>
        </section>

        <div class="page-header" id="download">
            <h1><i class="glyphicon glyphicon-download-alt"></i> Downloads</h1>
        </div>

        <section>
            <ul>
                <li><a href="https://github.com/TeamFractal/Roboticon-Quest/releases/download/v1.0/RoboticonQuest-1.0.zip">Version 1.0</a>
                    (<a href="https://github.com/TeamFractal/Roboticon-Quest/releases/tag/v1.0">Release Note</a>) <small>Updated: <time>24/01/2017</time></small></li>
            </ul>
        </section>

        <div class="page-header" id="assessment">
            <h1><i class="glyphicon glyphicon-file"></i> Assessment Documents</h1>
        </div>

        <section>
            <ul>
                <li><a href="/assessment1/assessment1.zip">Assessment 1</a>
                <br/> <small>Updated: <time>09/11/2016</time></small></li>
                <ul>
                  <li><a href="/assessment1/Req1.pdf">Requirements</a></li>
                  <li><a href="/assessment1/Arch1.pdf">Architecture</a></li>
                  <li><a href="/assessment1/Plan1.pdf">Method selection and planning</a></li>
                  <li><a href="/assessment1/Risk1.pdf">Risk assessment and mitigation</a></li>
                </ul>
                <li><a href="/assessment2.zip">Assessment 2</a>
                <br/> <small>Updated: <time>--/--/2017</time></small></li>
                <ul>
                  <li><a href="/assessment2/GUI2.pdf">GUI Report</a></li>
                  <li><a href="/assessment2/IMPL2.pdf">Implementation Report</a></li>
                  <li><a href="/assessment2/Updates2.pdf">Updates</a></li>
                </ul>
                <li><a href="/assessment3.zip">Assessment 3</a>
                <br/> <small>Updated: <time>--/--/2017</time></small></li>
                <li><a href="/assessment4.zip">Assessment 4</a>
                <br/> <small>Updated: <time>--/--/2017</time></small></li>
            </ul>
        </section>

        <div class="page-header" id="team">
            <h1><i class="glyphicon glyphicon-star"></i> The Team: Fractal</h1>
        </div>

        <section>
            <p>Fractals, like video games, can be considered a combination of Art, Maths and Computer Science. This makes them very appropriate for the basis of our team.</p>
            <p>Fractals start off simple and gets more and more complex over time until something very intricate and aesthetically pleasing is made. We hope our project parallels this idea, starting off with simple but concrete design ideas, which over the course of many iterations transform into an immersive gaming experience.</p>
        </section>

        <div class="page-header" id="repos">
            <h1><i class="glyphicon glyphicon-sunglasses"></i> Repo Status</h1>
        </div>

        <section>
            <p>Here is a list of repository created by the Team Fractal.</p>
            <noscript><p>You need to enable JavaScript and then <a href="/">reload this page</a>, or view it on the <a href="https://github.com/TeamFractal/" target="_blank">GitHub</a>.</p></noscript>
            <div id="commit_render" class="ns-hide">
                <div v-if="error" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Failed to fetch latest repo data from GitHub API.
                </div>

                <div v-if="current != total">Loading repo data (
                    <span v-text="current">0</span> / <span v-text="total">-</span>
                    )...
                </div>

                <div v-for="repo in repos">
                    <h2><i class="glyphicon glyphicon-folder-open"></i> <span class="repo-name" v-text="repo.name"></span>
                        <small>
                            <ul class="repo-action">
                                <li><a v-bind:href="repo.html_url" target="_blank">repo</a></li>
                                <li v-text="repo.language"></li>
                            </ul>
                        </small>
                    </h2>
                    <blockquote v-if="repo.description">{{ repo.description }}</blockquote>

                    <h3><i class="glyphicon glyphicon-pushpin"></i> Latest 3 commits</h3>
                    <div class="list-group">
                        <div v-for="commit in repo.commits" class="list-group-item">
                            <p><i class="glyphicon glyphicon-tag"></i>
                                <a v-bind:href="commit.html_url" target="_blank"><code>#{{ commit.ssha }}</code></a>
                                by

                                <span v-if="commit.author.html_url">
                                    <a v-bind:href="commit.author.html_url" target="_blank">{{ commit.commit.author.name }}</a>
                                </span>

                                <span v-else>{{ commit.author.name }}
                                    &lt;<a v-bind:href="'mailto:' + commit.author.email">{{ commit.author.email }}</a>&gt;
                                </span>
                            </p>
                            <p class="commit-msg">{{ commit.commit.message }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; Team Fractal, 2016.</p>
            <p>Powered by: <a href="https://getbootstrap.com/">Bootstrap</a>, <a href="https://jquery.com/">jQuery</a> and <a href="https://vuejs.org/">Vue.js</a>.</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.min.js"></script>
    <script src="./assets/app.js" async defer></script>
</body>
</html>
