body {
    padding-top: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

time {
    font-family: monospace;
}

footer {
    background: #1F4973;
    color: #B0D1F1;
    padding-bottom: 70px;
    margin-top: 20px;
    padding-top: 20px;
}

.ns .ns-hide {
    display: none;
}

.repo-name {
    padding-left: 0.5em;
}

.repo-action {
    padding-left: .5em;
    display: inline;
    margin: 0;
}

.repo-action li {
    display: inline;
}

.repo-action li:not(:first-child)::before {
    content: "| ";
}

.commit-msg {
    white-space: pre-wrap;
    margin: 0;
}

.gallery img {
    max-height: 180px;
    max-width: 220px;
}